---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Serie from "@components/Serie.astro";
import getUniqueSeries from "@utils/getUniqueSeries";
import { SITE } from "@config";
import { fetchAllPosts } from "lib/clients";

const posts = await fetchAllPosts();
let series = getUniqueSeries(posts);
---

<Layout title={`Series | ${SITE.title}`}>
  <Header activeNav="series" />
  <Main pageTitle="Series" pageDesc="All the series.">
    <ul>
      {series.map(serie => <Serie serie={serie} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
