---
import LinkButton from "@components/LinkButton.astro";
import Arrow from "./Arrow.astro";
---
<div class="w-full bg-orange-600 p-1 text-center">
  Get Custom React Hooks Crash Course at 35% discount <Arrow />
  Coupon code:
  <LinkButton
    href="https://www.udemy.com/course/custom-react-hooks-crash-course/?couponCode=5F461D9875FE1A463095"
    className="underline decoration-dashed underline-offset-4 hover:text-indigo-600"
  >
    5F461D9875FE1A463095
  </LinkButton>
</div>
