---
import LinkButton from "@components/LinkButton.astro";
import Arrow from "./Arrow.astro";
import Countdown from "./Countdown";
---

<div class="w-full bg-orange-600 p-1 text-center">
  35% off
  <LinkButton
    href="https://www.udemy.com/course/custom-react-hooks-crash-course/?couponCode=5F461D9875FE1A463095"
    className="underline decoration-dashed underline-offset-4 hover:text-indigo-600"
  >
  Custom React Hooks Crash Course
  </LinkButton> <Arrow />
  <Countdown client:load />
</div>
